img{
    width: 15cm;
    height: 15cm;
}
.container{
    position: relative;
    margin-top: 3%;
}
.control{
    list-style: none;
}
.control li{
    position: absolute;
    z-index: 99;
    top: 50%;
    background: rgba(0,0,0,0.5);
    padding: 12px 20px;
    border-radius: 50%;
    cursor: pointer;
}
.control li:hover{
    background: #000;

}
.control li.prev{
    left: 20px;
}
.control li.next{
    right: 20px;
}
.tns-controls{
    text-align: center;
    margin: 3%;
}