body{
    background-color: #7a689c !important;
}

.wrapper{
    display: flex;
    flex-direction: column;
    max-width: 405px;
    margin: 135px auto;
    background: #fff;
    border-radius: 7px;
    padding: 28px 0px 28px 0px;
}
.navigator{
    max-width: 100% !important;
    padding-right: 15px !important;
    margin: 15px 0px 25px 25px !important;
}
.mg-r{
    margin-right: 20px !important;
}
.task{
    width: 100%;
}
.reminder-task{
    align-self: center;
    margin-top: 15px !important;
    width: 100%;
    text-align: center;
}
